@model CollegeProjectMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<br>
<br>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<br>
<br>
<br>
<br>
<br>
<br>

@* Advertisment Pannel *@
<div style="display: flex; padding-left: 200px;">
    @* Starbucks advert *@
    <div class="first-advert">
        <a href="https://www.starbucks.co.uk/"><img src="http://cdn.firstwefeast.com/assets/2014/10/starbucks.gif" width="400" height="200"></a>
    </div>
    <div class="second-advert">
        @* German Donner Kebab advert *@
        <a href="https://www.germandonerkebab.com/"><img src="https://londonnewsonline.co.uk/wp-content/uploads/2019/07/Kebab-MPU.gif" width="400" height="200"></a>
    </div>
</div>

<br>
<br>
<br>


@* Footer Pannel *@
<div style="background-color: black; color:white; width: 1200px; height: 300px;   padding-left: 60px;">

    <div style="display: flex;">
        <div style="padding-top: 50px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeKni2xKIVFUE9CFxdV7mhH5e2YNgevuX80jxnw9QlzUlrPneIwL-JbyngApUkA26NrA&usqp=CAU" height="120" width="320">
        </div>
        <div>
            <ul class="nav navbar-nav" style="padding-top: 50px; padding-left: 320px; color: white; font-size: 17px;">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Course", "Course", "Course")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>

    <br>

    <div>
        <b style="font-size: 22px;">Information Technology University Pakistan</b>
        <p style="font-size: 13px;">6th Floor، ARFA Tower, Ferozepur Rd, Nishtar Town, Lahore, <br> Punjab, Pakistan</p>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
