@*HypertextAssassin Team(https://github.com/DMU-CTEC2902-2022/HypertextAssassin_Team)
    Members:

    Syed-p2652259 Github(https://github.com/No3Mc) Developer/System Analyst:
    Umar-P2630030 Github(https://github.com/itsumarsoomro) Developer

    Victor-P2622897 Github(https://github.com/VictorTooHauAn) System Analyst
    Pierrick-P2611172 Github(https://github.com/Riick91) System Analyst

    Wiki:

    Syed: https://github.com/DMU-CTEC2902-2022/HypertextAssassin_Team/wiki/Syed's-Wiki
    Umar: https://github.com/DMU-CTEC2902-2022/HypertextAssassin_Team/wiki/Umar's-Wiki
    Victor: https://github.com/DMU-CTEC2902-2022/HypertextAssassin_Team/wiki/Victor-Too-Hau-An---Coordinator-role
    Pierrick: https://github.com/DMU-CTEC2902-2022/HypertextAssassin_Team/wiki/Pierrick-Njiki-An-Coordinator-role*@



@{
    ViewBag.Title = "Contact";
}

@* Css for top arrow button *@
<style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>

@* top button *@
<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="https://img.icons8.com/material-sharp/344/ffffff/circled-up-2.png" height="40" width="40"></button>

@* Contact call back *@
<h2 style="background-color: #3a3636; color: white; padding: 20px"><b>@ViewBag.Title</b></h2>

@* Main Contact Pannel *@
<div style="display: flex; color: black;">

    @* left contact details pannel *@
    <div class="left-pannel">

        @* reistrar office details *@
        <h3 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px;   text-underline-offset: 5px;">Registrar office</h3>
        <p style="font-size: 16px;">
            Ch. Adeel Asghar <br />
            Registrar <br />
            Tel: +92-42-111-111-488| Ext: 6064 <br />
            <strong>Registrar:</strong> <a href="mailto:registrar@itu.edu.pk"> registrar@itu.edu.pk</a>
        </p>

        @* admission office details *@
        <h3 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px;   text-underline-offset: 5px;">Admission office</h3>
        <p style="font-size: 16px;">
            M.Salman Mubarik <br />
            Program Officer <br />
            UAN: (042)-111-111-ITU (488) <br />
            Tel: 042-99046061 <br />
            Mob: 0307-0111488 <br />
            <strong>Admission:</strong>   <a href="mailto:admission@itu.edu.pk">admission@itu.edu.pk</a><br />
        </p>

        @* academics office details *@
        <h3 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px;   text-underline-offset: 5px;">Academics office</h3>
        <p style="font-size: 16px;">
            Shahid Nadeem  <br />
            Manager Academics  <br />
            UAN: (042)-111-111-ITU (488)  <br />
            Tel: 042-99046041  <br />
            <strong>Academics:</strong>   <a href="mailto:academics@itu.edu.pk">academics@itu.edu.pk</a><br />
        </p>

        @* address details *@
        <h3 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px;   text-underline-offset: 5px;">Address</h3>
        <address style="font-size: 16px;">
            Information Technology <br />
            University Arfa Software Technology Park, <br />
            346-B, Ferozepur Road, Lahore <br />
            <abbr title="Phone"><b>Tel:</b></abbr>
            +92-42-111-111-488 | <b>Ext:</b> 6064
        </address>
    </div>

    @* Map integration code*@
    <div class="right-pannel" style="padding-left: 30px; padding-top: 20px;">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="810" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=Information%20Technology%20University%20Arfa%20Software%20Technology%20Park,%20346-B,%20Ferozepur%20Road,%20Lahore&t=k&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 400px;
                        width: 810px;
                    }
                </style><a href="https://www.embedgooglemap.net">google map on website</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 400px;
                        width: 810px;
                    }
                </style>
            </div>
        </div>
    </div>
</div>

<br>
<br>

@* Advertisment Pannel *@
<div style="display: flex; padding-left: 200px;">
    @* Starbucks advert *@
    <div class="first-advert">
        <a href="https://www.starbucks.co.uk/"><img src="http://cdn.firstwefeast.com/assets/2014/10/starbucks.gif" width="400" height="200"></a>
    </div>
    <div class="second-advert">
        @* German Donner Kebab advert *@
        <a href="https://www.germandonerkebab.com/"><img src="https://londonnewsonline.co.uk/wp-content/uploads/2019/07/Kebab-MPU.gif" width="400" height="200"></a>
    </div>
</div>

<br>
<br>
<br>

@* Footer Pannel *@
<div style="background-color: black; color:white; width: 1200px; height: 300px;   padding-left: 60px;">

    <div style="display: flex;">
        @* ITU logo *@
        <div style="padding-top: 50px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeKni2xKIVFUE9CFxdV7mhH5e2YNgevuX80jxnw9QlzUlrPneIwL-JbyngApUkA26NrA&usqp=CAU" height="120" width="320">
        </div>
        <div>
            @* Footber nav bar links *@
            <ul class="nav navbar-nav" style="padding-top: 50px; padding-left: 320px; color: white; font-size: 17px;">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Course", "Course", "Course")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>

    <br>

    @* Footer address of ITU  *@
    <div>
        <b style="font-size: 22px;">Information Technology University Pakistan</b>
        <p style="font-size: 13px;">6th Floor، ARFA Tower, Ferozepur Rd, Nishtar Town, Lahore, <br> Punjab, Pakistan</p>
    </div>

</div>

@* Java script for top arrow functionality *@
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>