@{
    ViewBag.Title = "Home";
}

@* Css for top arrow button *@
<style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>

<br>

@* top button *@
<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="https://img.icons8.com/material-sharp/344/ffffff/circled-up-2.png" height="40" width="40"></button>



@* Welcome box and picture *@
<div>
    <b style="font-size: 42px;">Information Technology University Pakistan</b>
    <p class="lead">Find your new home at ITU</p>
    <img src="https://itu.edu.pk/wp-content/uploads/2017/12/1.jpg" width="1200" height="600">
</div>

<br>
<br>

@* Video box and 2nd Pannel *@
<div class="jumbotron" style="width: 1200px; display: flex; ">
    <div class="left-pannel">
        <iframe width="500" height="313" src="https://www.youtube.com/embed/LwEmxCusQtg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="right-pannel" style="padding-left: 80px; padding-top: 100px; text-align: center;">
        <b style="font-size: 30px;">Your new beginning at ITU</b>
        <p style="font-size: 15px;">Find the people who will open doors for you and push you to achieve things you never thought you could.</p>
    </div>
</div>

@* Courses Pannel *@
<div class="row" style="padding-left: 20px; width: 1200px">

    <h1 style="padding-left: 12px;"><b>Courses</b></h1>

    <div class="col-md-4">
        <h2>Computer Science</h2>
        <p>
            Computer science (CS) is the study of computers and algorithmic processes, including their principles, their hardware and software designs, their applications, and their impact on society.
        </p>
        <br>
        <br>
        <img src="https://hbr.org/resources/images/article_assets/2019/08/Aug19_22_608877599.jpg" width="350" height="200">
        <p><a class="btn btn-default" href="~/ComputerScience/Modules">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Software Engineering</h2>
        <p>It is a branch of engineering that deals with the development of software products. It operates within a set of principles, best practices, and methods that have been carefully honed throughout the years, changing as software and technology change.</p>
        <br>
        <img src="https://engineering.buffalo.edu/content/engineering/computer-science-engineering/undergraduate/degrees-and-programs/ba-in-computer-science/_jcr_content/par/image.img.original.png/1560278866579.png" width="350" height="200">
        <p><a class="btn btn-default" href="~/SoftwareEngineering/Modules">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Cyber Security</h2>
        <p>Cyber security is the application of technologies, processes and controls to protect systems, networks, programs, devices and data from cyber attacks. It aims to reduce the risk of cyber attacks and protect against the unauthorised exploitation of systems, networks and technologies</p>
        <img src="https://cdn.mindmajix.com/courses/cyber-security-training.png" width="350" height="200">
        <p><a class="btn btn-default" href="~/CyberSecurity/Modules">Learn more &raquo;</a></p>
    </div>

</div>

<br>
<br>

@* 4th pannel - Award Winnig descripiton *@
<div class="jumbotron" style="width: 1200px;">
    <b style="font-size: 30px;">Find the people who will open doors for you</b>
    <br>
    <p style="font-size: 15px;">ITU's award-winning careers service provides guaranteed work experience opportunities</p>
    <p><a class="btn btn-default" href="~/Home/About" style="border-color: black; color: black; font-size: 15px; padding: 10px 10px;">Find out more &raquo;</a></p>
</div>

<br>
<br>


@* Advertisment Pannel *@
<div style="display: flex; padding-left: 200px;">
    <div class="first-advert">
        <img src="http://cdn.firstwefeast.com/assets/2014/10/starbucks.gif" width="400" height="200">
    </div>
    <div class="second-advert">
        <img src="https://londonnewsonline.co.uk/wp-content/uploads/2019/07/Kebab-MPU.gif" width="400" height="200">
    </div>
</div>

<br>
<br>
<br>

@* Footer Pannel *@
<div style="background-color: black; color:white; width: 1200px; height: 300px;   padding-left: 60px;">

    <div style="display: flex;">
        <div style="padding-top: 50px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeKni2xKIVFUE9CFxdV7mhH5e2YNgevuX80jxnw9QlzUlrPneIwL-JbyngApUkA26NrA&usqp=CAU" height="120" width="320">
        </div>
        <div>
            <ul class="nav navbar-nav" style="padding-top: 50px; padding-left: 320px; color: white; font-size: 17px;">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Course", "Course", "Course")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>

    <br>

    <div>
        <b style="font-size: 22px;">Information Technology University Pakistan</b>
        <p style="font-size: 13px;">6th Floor، ARFA Tower, Ferozepur Rd, Nishtar Town, Lahore, <br> Punjab, Pakistan</p>
    </div>

</div>

@* Java script for top arrow functionality *@
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>